html,body{
    margin:0;
    padding:0;
}

.connexion{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;

}

.connexion form{
    display: inline-block;
    /* text-align: center; */
    width: 100%;
}

.connexion input{
    display: block;
    margin: 5px auto;

    box-sizing: border-box;
    width: 100%;
}

.connexion a{
    display: block;
}

.connexion p{
    margin: 0;
}

.connexion .prenom, .connexion .nom{
    display: block;
    width: 50%;
    float: left;
}


.entete{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;

}
.entete .doudle{
    display: inline-block;
    color: #3798D4;
    font-size: 30px;
    font-weight: bold;
    margin: 7px 0px;
    padding: 5px;
}
