$taille-img: 177px;
$taille-rond: 15px;
$page-color: #f7932f;
$bouton-page-color: complement($page-color);
$header-color: #263842;
$bouton-header-color: complement($header-color);
$vert: lighten(green,10%);
$rouge: lighten(red,10%);
$couleur-lien: #87ff00;

@mixin rond($coleur){
    box-sizing: content-box;
    width: $taille-rond;
    height: $taille-rond;
    margin: auto;
    border: $taille-rond solid $coleur;
    border-radius: 100%;
}

@mixin bgc-ombre($color){
    background-color: $color;
    box-shadow: 0 3px 10px $color;
}

@mixin deg-ombre($coleur,$ombre: true){
    background: linear-gradient(to top,lighten($coleur, 30%), $coleur);
    box-shadow: 0 3px 10px $coleur;

    &:hover{
        background: linear-gradient(to bottom,lighten($coleur, 20%), $coleur);
        box-shadow: none;
    }
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-color: $page-color;
    background-image: url('../image/fond.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: contain;
}


/*--------------------------------------miser en form--------------------------*/

.vert{
    background-color: $vert;
}
.rouge{
    background-color: $rouge;
}

.rond_vert{
    @include rond($vert);
}
.rond_rouge{
    @include rond($rouge);
}

.case_arrondi{
    height: auto;
    padding: 10px;
    text-decoration: none;
    color: #000000 !important;
    border-radius: 10px;
}

a.bouton{
    @extend .case_arrondi;
    @include deg-ombre($bouton-page-color);
}

form, table{
    margin-bottom: 20px;
}

form{
    padding: 15px;
    color: $page-color;
    @include bgc-ombre($header-color);

    p{
        margin: 0;
    }
    input{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
    }
    input:last-child{
        margin-bottom: 0;
    }
    label{
        display: block;
    }
    textarea{
        width: 100%;
        height: 150px;
        resize: none;
    }
}

table{
    margin-top: 20px;
    padding: 0;
    color: $header-color;
    background-color: #ffcb65;
}

table.ui-datepicker-calendar{
    background-color: white;
}

th{
    padding: 3px;
}


/*----------------------------------------entete--------------------------------*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, $header-color,lighten($header-color, 15%));
    box-shadow: 0 3px 10px $header-color;

    a{
        display: inline-block;
        height: 100%;
    }
    img{
        position: absolute;
        top: 50%;
        width: $taille-img;
        height: 60px;
        transform: translateY(-50%);
    }
    .bare{
        position: absolute;
        top: 50%;
        left: $taille-img;
        height: 40px;
        margin-left: 20px;
        transform: translateY(-50%);
    }
    .compte{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    a.bouton{
        height: 100%;

        @include deg-ombre(lighten($header-color,25%));
    }
    p{
        font-size: 20px;
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        color: $page-color;
    }
}

/*----------------------------------------page--------------------------------------*/

.page{
    margin-top: 80px;
    padding: 30px;
}
.div2{
    display: block;
    float: left;
    width: 50%;
}

.div2fin{
    display: inline-block;
    float: none;

    @extend .div2;
}

.div4{
    display: block;
    float: left;
    width: 25%;
}

.div4fin{
    float: none;

    @extend .div4;
}

/*----------------------------------------connexion---------------------------------*/

.connexion{
    width: 40%;
    margin: auto;

    p{
        margin: 0;
    }
    .div2{
        margin-bottom: 10px;
    }
    .error{
        margin-bottom: 10px;
        color: $rouge;
    }
}

/*----------------------------------------etat-----------------------------------*/

.etat{
    width: 40%;
    margin: auto;
    padding: 15px;
    color: white ;
    @include bgc-ombre($header-color);

    h1:first-child{
        margin-top: 0;
    }
    p{
        margin-bottom: 10px;
    }
    a{
        display: inline-block;
        color: $couleur-lien;
    }
    a.bouton{
        margin: 5px 0;
        color: black;
    }
}

/*----------------------------------------doudle---------------------------------*/

.doudle{
    width: 40%;
    margin: auto;

    .date{
        display: block;

        label{
            display: inline;
        }
        input{
            display: inline-block;
            width: 100px;
            text-align: center;
        }
    }
    .date input:last-child{
        margin-bottom: 10px;
    }
    table{
        padding: 5px 10px;
    }
}
.doudle_doudle{
    display: inline-block;
    padding: 15px;
    color: white ;
    @include bgc-ombre($header-color);

    .case_arrondi{
        padding: 5px;
    }
    a{
        color: $couleur-lien ;
    }
    .case_arrondi{
        color: black ;
    }
    h1,p{
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.doudle_res{
    display: inline-block;

    .description{
        display: inline-block;
        padding: 15px;
        color: white;
        @include bgc-ombre($header-color);

        a{
            color: $couleur-lien;
        }
        h1:first-child{
            margin-top: 0;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    table{
        box-shadow: 0 3px 10px $header-color;
    }
    td{
        border: 1px solid black;
    }
    th{
        border: 1px solid black;
    }
    .case_arrondi{
        padding: 7px;
    }
}
