$taille-img:177px;
$taille-rond : 15px;
$page-color:#f7932f;
$bouton-page-color: complement($page-color);
$header-color: #263842;
$bouton-header-color: complement($header-color);
$vert: lighten(green,10%);
$rouge: lighten(red,10%);

@mixin rond($coleur){
    width: $taille-rond;
    height: $taille-rond;
    border: $taille-rond solid $coleur;
    border-radius: 100%;
    margin: auto;
    box-sizing: content-box;
}

@mixin bgc-ombre($color){
    background-color: $color;
    box-shadow: 0px 3px 10px $color;
}

@mixin deg-ombre($coleur,$ombre:true){
    background: linear-gradient(to top,lighten($coleur, 30%), $coleur);
    box-shadow: 0px 3px 10px $coleur;

    &:hover{
        background: linear-gradient(to bottom,lighten($coleur, 20%), $coleur);
        box-shadow: none;
    }
}

*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;
}

html{
    height: 100%;
    background-image: url("../image/fond.png") ;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-color: $page-color;
     background-attachment: fixed;
}


/*--------------------------------------miser en form--------------------------*/

.vert{
    background-color: $vert;
}
.rouge{
    background-color: $rouge;
}

.rond_{

    &vert{
        @include rond($vert);
    }
    &rouge{
        @include rond($rouge);

    }

}

.case_arrondi{
    text-decoration: none;
    color: #000;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

a.bouton{
    @extend .case_arrondi;
    @include deg-ombre($bouton-page-color);
}

form, table{
    margin-bottom: 20px;
}

form {
    padding: 15px;
    @include bgc-ombre($header-color);
    color: $page-color;

    p{
        margin: 0;
    }
    input{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    input:last-child{
        margin-bottom: 0px;
    }
    label{
        display: block;
    }

    textarea{
        width: 100%;
        height: 150px;
        resize: none;
    }

}

table{
    color: $header-color;
    margin-top: 20px;
    background-color: #ffcb65;
    padding: 0px;
}

th{
    padding: 3px;
}


/*----------------------------------------entete--------------------------------*/

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, $header-color,lighten($header-color, 15%));
    box-shadow: 0px 3px 10px $header-color;

    a{
        display: inline-block;
        height: 100%;

    }
    img{
        height: 60px;
        width: $taille-img;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }

    .bare{
        left: $taille-img;
        height: 40px;
        margin-left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .compte{
        right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    a.bouton{
        height: 100%;
        @include deg-ombre(lighten($header-color,25%));

    }

    p{
        display: inline-block;
        margin: 0;
        color: $page-color;
        font-size: 20px;
        vertical-align: middle;
    }

}

/*----------------------------------------page--------------------------------------*/

.page{
    margin-top: 80px;
    padding: 30px;
}
.div2{
    display: block;
    width: 50%;
    float: left;
}

.div2fin{
    @extend .div2;
    display: inline-block;
    float: none;
}

.div4{
    display: block;
    width: 25%;
    float: left;
}

.div4fin{
    @extend .div4;
    float: none;
}

/*----------------------------------------connexion---------------------------------*/

.connexion{

    margin: auto;
    width: 40%;
    p {
        margin: 0;
    }
}

/*----------------------------------------doudle---------------------------------*/

.doudle{
    margin: auto;
    width: 40%;

    .date{
        display: block;

        label{
           display: inline;
        }

        input{
           display: inline-block;
           width: 100px;
           text-align: center;
        }
    }

}
.doudle_doudle{
    .case_arrondi{
        padding: 5px;
    }
    display: inline-block;
    padding: 15px;
    @include bgc-ombre($header-color);
    color: white ;

    a{
        color: white ;
    }

    .case_arrondi{
        color: black ;
    }

    h1:first-child{
        margin-top: 0px;
    }
    p:last-child{
        margin-bottom: 0px;
    }
}

.doudle_res{
    display: inline-block;
    .description{
        display: inline-block;
        padding: 15px;
        @include bgc-ombre($header-color);
        color: white;

        a{
            color: white;
        }

        h1:first-child{
            margin-top: 0px;
        }
        p:last-child{
            margin-bottom: 0px;
        }

    }
    td {
        border: 1px solid black;
    }
    th {
        border: 1px solid black;
    }

}
