* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-image: url("../image/fond.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #f7932f;
  background-attachment: fixed;
}

/*--------------------------------------miser en form--------------------------*/
.vert {
  background-color: #00b300;
}

.rouge {
  background-color: #ff3333;
}

.rond_vert {
  width: 15px;
  height: 15px;
  border: 15px solid #00b300;
  border-radius: 100%;
  margin: auto;
  box-sizing: content-box;
}

.rond_rouge {
  width: 15px;
  height: 15px;
  border: 15px solid #ff3333;
  border-radius: 100%;
  margin: auto;
  box-sizing: content-box;
}

.case_arrondi, a.bouton {
  text-decoration: none;
  color: #000;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

a.bouton {
  background: linear-gradient(to top, #c2e0fd, #2f93f7);
  box-shadow: 0px 3px 10px #2f93f7;
}

a.bouton:hover {
  background: linear-gradient(to bottom, #91c6fb, #2f93f7);
  box-shadow: none;
}

form, table {
  margin-bottom: 20px;
}

form {
  padding: 15px;
  background-color: #263842;
  box-shadow: 0px 3px 10px #263842;
  color: #f7932f;
}

form p {
  margin: 0;
}

form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form input:last-child {
  margin-bottom: 0px;
}

form label {
  display: block;
}

form textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

table {
  color: #263842;
  margin-top: 20px;
  background-color: #ffcb65;
  padding: 0px;
}

table.ui-datepicker-calendar {
  background-color: white;
}

th {
  padding: 3px;
}

/*----------------------------------------entete--------------------------------*/
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, #263842, #426173);
  box-shadow: 0px 3px 10px #263842;
}

header a {
  display: inline-block;
  height: 100%;
}

header img {
  height: 60px;
  width: 177px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .bare {
  left: 177px;
  height: 40px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .compte {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header a.bouton {
  height: 100%;
  background: linear-gradient(to top, #afc5d1, #557d93);
  box-shadow: 0px 3px 10px #557d93;
}

header a.bouton:hover {
  background: linear-gradient(to bottom, #8faebf, #557d93);
  box-shadow: none;
}

header p {
  display: inline-block;
  margin: 0;
  color: #f7932f;
  font-size: 20px;
  vertical-align: middle;
}

/*----------------------------------------page--------------------------------------*/
.page {
  margin-top: 80px;
  padding: 30px;
}

.div2, .div2fin {
  display: block;
  width: 50%;
  float: left;
}

.div2fin {
  display: inline-block;
  float: none;
}

.div4, .div4fin {
  display: block;
  width: 25%;
  float: left;
}

.div4fin {
  float: none;
}

/*----------------------------------------connexion---------------------------------*/
.connexion {
  margin: auto;
  width: 40%;
}

.connexion p {
  margin: 0;
}

.connexion .div2, .connexion .div2fin {
  margin-bottom: 10px;
}

/*----------------------------------------etat-----------------------------------*/
.etat {
  margin: auto;
  width: 40%;
  padding: 15px;
  background-color: #263842;
  box-shadow: 0px 3px 10px #263842;
  color: white;
}

.etat h1:first-child {
  margin-top: 0px;
}

.etat p {
  margin-bottom: 10px;
}

.etat a {
  color: #87ff00;
  display: inline-block;
}

.etat a.bouton {
  color: black;
  margin: 5px 0;
}

/*----------------------------------------doudle---------------------------------*/
.doudle {
  margin: auto;
  width: 40%;
}

.doudle .date {
  display: block;
}

.doudle .date label {
  display: inline;
}

.doudle .date input {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.doudle .date input:last-child {
  margin-bottom: 10px;
}

.doudle table {
  padding: 5px 10px;
}

.doudle_doudle {
  display: inline-block;
  padding: 15px;
  background-color: #263842;
  box-shadow: 0px 3px 10px #263842;
  color: white;
}

.doudle_doudle .case_arrondi, .doudle_doudle a.bouton {
  padding: 5px;
}

.doudle_doudle a {
  color: #87ff00;
}

.doudle_doudle .case_arrondi, .doudle_doudle a.bouton {
  color: black;
}

.doudle_doudle h1:first-child {
  margin-top: 0px;
}

.doudle_doudle p:last-child {
  margin-bottom: 0px;
}

.doudle_res {
  display: inline-block;
}

.doudle_res .description {
  display: inline-block;
  padding: 15px;
  background-color: #263842;
  box-shadow: 0px 3px 10px #263842;
  color: white;
}

.doudle_res .description a {
  color: #87ff00;
}

.doudle_res .description h1:first-child {
  margin-top: 0px;
}

.doudle_res .description p:last-child {
  margin-bottom: 0px;
}

.doudle_res table {
  box-shadow: 0px 3px 10px #263842;
}

.doudle_res td {
  border: 1px solid black;
}

.doudle_res th {
  border: 1px solid black;
}

.doudle_res .case_arrondi, .doudle_res a.bouton {
  padding: 7px;
}
